<template>
  <div class="about text-center">
    <h1>Learn about <b>Contact Tracing</b></h1>
    <iframe
      id="lbry-iframe"
      width="560"
      height="315"
      src="https://lbry.tv/$/embed/Patient-Privacy-and-Confidentiality-in-Pandemic-Contact-Tracing/211df62000d36ab02f828e4f7c5c52619b823a15?r=34KykRqe6pSjF2DEMrCDSXBVYfvQq1DT"
      allowfullscreen
      center
    />
  </div>
</template>

<script>
export default {
  name: 'About'
};
</script>
