<template>
  <div class="home">
    <v-container>
      <v-row class="text-center">
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Thanks for showing Interest!
          </h1>

          <p class="subheading font-weight-regular font-italic">
            "Some activists and health care providers have expressed concerns that
            <b><router-link to="/about">contact tracing</router-link></b> may discourage persons from seeking medical treatment, for fear of
            loss of confidentiality and subsequent stigma, discrimination, or abuse."
          </p>
        </v-col>

        <v-col class="mb-5" cols="12">
          <h2 class="headline font-weight-bold mb-3">
            Questionnaire
          </h2>

          <v-row justify="center">
            <p class="subheading mx-3">
              This is contains just <b>12</b> Questions. <br>
              Please <b>consent</b> to the terms of questionnaire. <br>
              This will be over before you know it!
            </p>
          </v-row>
        </v-col>

        <v-col class="mb-5" cols="12">
          <v-row align="center" justify="center">
            <v-btn class="ma-2" color="primary" dark to="/terms">
              <v-icon dark left>
                mdi-checkbox-marked-circle
              </v-icon>
              Consent Form
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {},
  mounted() {
    document.title = 'Track & Trace';
  }
};
</script>
