<template>
  <v-container>
    <v-row>
      <template v-for="q in questions">
        <v-col :key="`${'q'}${q.id}`" class="mt-2 pb-0 synopsis" cols="12" v-html="q.synopsis" />

        <v-col :key="`${'a'}${q.id}`" cols="12" class="px-6 pt-0" fluid>
          <v-row>
            <v-col :key="`${q.id}${q.type}`" cols="12 pt-0">
              <v-card>
                <v-subheader v-html="`${q.question}`" />
                <MultiSelect v-if="q.t=='CB'" :answer="q.answer" :sm="sm" :md="md" />
                <SingleSelect v-if="q.t=='RB'" :answer="q.answer" :sm="sm" :md="md" />
                <LpcScale v-if="q.t=='LP'" :answer="q.answer" :sm="sm" :md="md" />
                <LickertScale v-if="q.t=='LS'" :answer="q.answer" :info="q.info" :sm="sm" :md="md" />
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import MultiSelect from '../components/quest/MultiSelect';
import SingleSelect from '../components/quest/SingleSelect';
import LpcScale from '../components/quest/LpcScale';
import LickertScale from '../components/quest/LickertScale';

import { mapState, mapActions, mapMutations } from 'vuex';

export default {
  name: 'Quest1',
  components: {
    MultiSelect,
    SingleSelect,
    LpcScale,
    LickertScale
  },
  data: () => ({
    drawer: null
  }),
  computed: {
    ...mapState('quest', ['section', 'questions', 'sm', 'md'])
  },
  mounted() {
    document.title = 'Section 1';
    this.loadsection(1);
    this.entrance();
  },
  methods: {
    ...mapActions('quest', ['entrance']),
    ...mapMutations('quest', ['loadsection'])
  }
};
</script>

<style scoped>
p.synopsis {
  font-size: 10pt;
  padding: 0 16px;
}
.v-card .v-subheader {
  display: inline-flex;
  height: auto;
}
</style>
