<template>
  <v-main>
    <div class="terms">
      <v-form ref="form" lazy-validation>
        <v-row>
          <v-col cols="12" sm="6" md="8">
            <v-card class="mx-auto" tile>
              <v-container>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field :value="fname" :rules="nameRules" :counter="20" label="First name" required @input="fnameInput" />
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field :value="lname" :rules="nameRules" :counter="20" label="Last name" required @input="lnameInput" />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-select
                      :value="title"
                      :items="titles"
                      :rules="[(v) => !!v || 'Title is required']"
                      label="Title"
                      required
                      @input="titleInput"
                    />
                  </v-col>
                  <v-col cols="12" md="8">
                    <v-text-field :value="email" :rules="emailRules" label="E-mail" required @input="emailInput" />
                  </v-col>
                </v-row>

                <v-list flat subheader four-line>
                  <v-list-item-group multiple active-class="">
                    <v-list-item>
                      <template>
                        <v-list-item-action>
                          <v-checkbox :value="voluntary" :input-value="voluntary" @change="consentbox1" />
                        </v-list-item-action>

                        <v-list-item-content>
                          <v-list-item-title>My Participation is Voluntary</v-list-item-title>
                          <v-list-item-subtitle>
                            No pressure was exerted on me to consent and
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            I may withdraw at any stage without penalisation
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-list-item>

                    <v-list-item>
                      <template>
                        <v-list-item-action>
                          <v-checkbox :value="noconsequence" :input-value="noconsequence" @change="consentbox2" />
                        </v-list-item-action>

                        <v-list-item-content>
                          <v-list-item-title>No Consequence</v-list-item-title>
                          <v-list-item-subtitle>
                            My decision wether or not to participate will
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            have no effect on me at present or in future
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-list-item>

                    <v-list-item>
                      <template>
                        <v-list-item-action>
                          <v-checkbox :value="language" :input-value="language" @change="consentbox3" />
                        </v-list-item-action>

                        <v-list-item-content>
                          <v-list-item-title>Suitable Language</v-list-item-title>
                          <v-list-item-subtitle>
                            I am in command of the English language,
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>or it was satisfactory translated to me</v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-list-item>

                    <v-list-item>
                      <template>
                        <v-list-item-action>
                          <v-checkbox :value="nocost" :input-value="nocost" @change="consentbox4" />
                        </v-list-item-action>

                        <v-list-item-content>
                          <v-list-item-title>No Additional Cost</v-list-item-title>
                          <v-list-item-subtitle>
                            Participation in this study will not result
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            in any additional cost to myself
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-container>
            </v-card>
          </v-col>

          <v-col cols="12" sm="6" md="4">
            <v-card class="mx-auto" tile>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title><b>Researcher's Details</b></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Title of Research Project</v-list-item-title>
                  <v-list-item-subtitle>
                    A Framework for the Assurance of Patient Privacy
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    and Confidentiality in Pandemic Contact Tracing
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item one-line>
                <v-list-item-content>
                  <v-list-item-title>Language</v-list-item-title>
                  <v-list-item-subtitle> English </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Principal Investigator</v-list-item-title>
                  <v-list-item-subtitle>
                    Daluxolo Msikinya
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    s215013395@mandela.ac.za
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Institution</v-list-item-title>
                  <v-list-item-subtitle>
                    Nelson Mandela University
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    Port Elizabeth, South Africa
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
            <v-row justify="center">
              <v-col>
                <v-card>
                  <v-card-text>
                    <Geocoder
                      ref="geocoder"
                      :label="'signed/confirmed at (location):'"
                      :value="gps"
                      :token="'pk.eyJ1IjoiZmxhbWVzIiwiYSI6ImNqcHg3Mnd2MjA3bTU0MnBqMTcxMTA5MTEifQ.j60uVei2wSTSPeiJyUd_Mw'"
                      :types="'country,region,place,postcode,locality,neighborhood'"
                    />
                  </v-card-text>
                  <v-divider />
                  <v-card-actions>
                    <v-btn text> Cancel </v-btn>
                    <v-spacer />
                    <v-btn color="primary" tile @click="validate">
                      consent
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </div>
  </v-main>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import Geocoder from '@/components/Geocoder.vue';

export default {
  name: 'Terms',
  components: {
    Geocoder
  },
  data: () => ({
    nameRules: [(v) => !!v || 'Name is Required', (v) => (v && v.length <= 20) || 'Name must be less than 20 characters'],
    emailRules: [(v) => !!v || 'E-mail is required', (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid'],
    titles: ['Mr', 'Ms', 'Mrs', 'Dr', 'Prof', 'Rev']
  }),
  computed: {
    ...mapState('consent', ['fname', 'lname', 'email', 'title', 'gps', 'voluntary', 'noconsequence', 'language', 'nocost'])
  },
  mounted() {
    document.querySelector('.mapboxgl-ctrl-geocoder.mapboxgl-ctrl').style.width = '100%';
    const geocoder = this.$refs.geocoder;

    geocoder.onGeocode((e) => {
      this.updatelocation(e.result.geometry.coordinates);
    });
    document.title = 'Informed Consent';
  },
  methods: {
    ...mapMutations('consent', [
      'fnameInput',
      'lnameInput',
      'titleInput',
      'emailInput',
      'consentbox1',
      'consentbox2',
      'consentbox3',
      'consentbox4',
      'updatelocation'
    ]),
    ...mapActions('consent', ['processform']),

    validate() {
      if (this.$refs.form.validate()) {
        this.processform();
      }
    }
  }
};
</script>

<style scoped>
form {
  max-width: 1152px;
  margin: 0 auto;
}
.container {
  padding: 0 12px;
}
@media only screen and (max-width: 852px) {
  .v-application--is-ltr .v-list-item__action:first-child,
  .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 8px;
  }
  .container .v-list-item {
    padding: 0;
  }
}
</style>
