<template>
  <span>
    <v-system-bar app>
      <v-spacer />

      <v-icon>mdi-square</v-icon>
      <v-icon>mdi-circle</v-icon>
      <v-icon>mdi-triangle</v-icon>
    </v-system-bar>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawerToggle" />
      <v-toolbar-title><router-link to="/" style="text-decoration:none">Track + Trace</router-link></v-toolbar-title>

      <v-spacer />
      -
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" to="/about" v-on="on">
            <v-icon>info</v-icon>
          </v-btn>
        </template>
        <span>Learn about Contact Tracing</span>
      </v-tooltip>
    </v-app-bar>
  </span>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'Appbar',
  computed: {
    ...mapState('gui', ['drawer'])
  },
  methods: {
    ...mapMutations('gui', ['drawerToggle'])
  }
};
</script>
