<template>
  <div id="geocoder" />
</template>

<script>
import mapboxgl from 'mapbox-gl';
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

export default {
  name: 'Geocoder',
  props: {
    token: String,
    types: String,
    label: String
  },
  data() {
    return {
      target: {}
    };
  },
  mounted() {
    mapboxgl.accessToken = this.token;
    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      placeholder: this.label,
      types: this.types
    });
    geocoder.addTo('#geocoder');
    this.target = geocoder;
    /* geocoder.on('result', this.onResult); */
  },
  methods: {

    /* onResult(e) { */
    /*   if (!e) return; */
    /*   console.log(e.result.geometry); */
    /* }, */

    onGeocode(fx) {
      this.target.on('result', fx);
    }
  }
};
</script>

<style scoped>
#geocoder {
  z-index: 1;
  width: 100%;
  text-align: left;
  top: 20px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
  }
}
</style>
