<template>
  <v-navigation-drawer :value="drawer" fixed temporary />
</template>

<script>
import { mapState } from 'vuex';
export default {
  name: 'Nav',
  computed: {
    ...mapState('gui', ['drawer'])
  }
};
</script>
