<template>
  <v-card flat color="transparent">
    <v-subheader>{{ info }}</v-subheader>
    <v-card-text class="pt-0 pb-0">
      <v-slider
        label="Scale"
        :min="answer[0].val"
        :max="answer[z].val"
        step="1"
        thumb-label="always"
        ticks="always"
        tick-size="8"
        @change="onslide"
      />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'LickertScale',
  props: {
    info: String,
    answer: Array,
    sm: Number,
    md: Number
  },
  data() {
    return {
      range: this.answer.map((arr) => {
        return arr.val;
      }),
      id: this.answer.map((arr) => {
        return arr.id;
      }),
      z: this.answer.length - 1
    };
  },
  methods: {
    onslide(e) {
      console.log(this.id[e]);
    }
  }
};
</script>

<style scoped>
.v-subheader {
  height: auto;
}
</style>
