<template>
  <v-card flat color="transparent">
    <v-subheader><span>{{ answer.left.label }}</span> <v-spacer /> <span>{{ answer.right.label }}</span></v-subheader>

    <v-card-text class="pt-0 pd-1">
      <v-slider :tick-labels="answer.range" :min="answer.left.val" :max="answer.right.val" step="1" ticks="always" tick-size="4" @change="onslide" />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'LpcScale',
  props: {
    answer: Object,
    reply: Number,
    sm: Number,
    md: Number
  },
  methods: {
    onslide(e) {
      console.log(e);
    }
  }
};
</script>

<style scoped>
.v-card__text {
  padding-top: 0;
  padding-bottom: 8px;
}
</style>
