<template>
  <v-card flat>
    <v-card-text>
      <v-container fluid>
        <v-row v-for="(a, ai) in answer" :key="`${'check'}${ai}`">
          <v-col v-for="(row, ri) in a" :key="`${'row'}${ri}`" cols="12" sm="sm" md="md">
            <v-checkbox
              v-for="(col, ci) in row"
              :key="`${'col'}${ci}`"
              :label="col.val"
              color="primary"
              :value="col.id"
              hide-details
              @change="onchange"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'MultiSelect',
  props: {
    answer: Array,
    sm: Number,
    md: Number
  },
  methods: {
    onchange(e) {
      console.log(e);
    }
  }
};
</script>

<style scoped>
.v-card__text,
.v-card__text > .container {
  padding-top: 0 !important;
}
.v-card__text .row > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
</style>
