<template>
  <v-card flat>
    <v-card-text>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="sm" md="md">
            <v-radio-group v-model="ex8" column @change="onchange">
              <v-radio v-for="(a, i) in answer[0]" :key="i" :label="a.val" color="primary" :value="a.id" />
            </v-radio-group>
          </v-col>
          <v-col cols="12" sm="sm" md="md">
            <v-radio-group v-model="ex8" column @change="onchange">
              <v-radio v-for="(a, i) in answer[1]" :key="i" :label="a.val" color="primary" :value="a.id" />
            </v-radio-group>
          </v-col>
          <v-col cols="12" sm="sm" md="md">
            <v-radio-group v-model="ex8" column @change="onchange">
              <v-radio v-for="(a, i) in answer[2]" :key="i" :label="a.val" color="primary" :value="a.id" />
            </v-radio-group>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'SingleSelect',
  props: {
    answer: Array,
    sm: Number,
    md: Number
  },
  data() {
    return {
      ex8: 'primary'
    };
  },
  methods: {
    onchange(e) {
      console.log(e);
    }
  }
};
</script>

<style scoped>
.v-card__text,
.v-card__text > .container {
  padding-top: 0 !important;
}
.v-card__text {
  padding-bottom: 0 !important;
}
.v-card__text .row > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
</style>
