<template>
  <v-app id="inspire">
    <Appbar />
    <Nav />
    <v-main class="grey lighten-2">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Nav from '@/components/Nav.vue';
import Appbar from '@/components/Appbar.vue';

export default {
  name: 'App',
  components: {
    Nav,
    Appbar
  }
};
</script>
